@page "/"

@using TodoListBlazor.Data;
@inject ServiceData questionService

@using Model;


@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <a href="/CreateQuestion") class="btn btn-primary">Create question</a>
    @foreach (var quest in questions)
    {

        <div class="card">
            <div class="card-header">
                <p class="card-text">-- @quest.User.Name </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">@quest.Headline</h5>
                <p class="card-text">@quest.Question</p>

                <a href=@string.Format("{0}",quest.QuestionsId) class="btn btn-primary">See question</a>
            </div>
        </div>
    }
}
@code {

    private Questions[] questions;

    protected override async Task OnInitializedAsync()
    {
        questions = await questionService.GetQuestionData();
    }
}